*,
::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 1;
}

html {
  color-scheme: light;
}

head {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
}